.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
}

/* Control the right side */
.right {
    right: 0;
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mazeContainer {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    top: 75px;
    opacity: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
  }
  #mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 1px black;
  }
  #Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  #Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
  }
  #page {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
  }
  #page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
  }
  #page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
  }
  #page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
  }
  .border {
    border: 1px black solid;
    border-radius: 5px;
  }
  
  
  @media only screen and (max-width: 400px) {
    input,
    select {
      width: 120px;
    }
  }